# Application
API_PORT=
DEBUG=

# Security
SECRET_KEY=
ALGORITHM=
ACCESS_TOKEN_EXPIRE_MINUTES=
REFRESH_TOKEN_EXPIRE_DAYS=

# PostgreSQL
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_PORT=

# Database URL
DATABASE_URL=

# Redis
REDIS_URL=
REDIS_PORT=

# MQTT
MQTT_HOST=
MQTT_PORT=
MQTT_USERNAME=
MQTT_PASSWORD=

MQTT_PUBLIC_HOST=
MQTT_PUBLIC_PORT=

# CORS
CORS_ORIGINS=

# Adminer
ADMINER_PORT=